---
import Layout from '../layouts/Layout.astro';
import RulesModal from '../components/RulesModal.astro';
import Main from '../components/Main.jsx'
---
<Layout title="Rock, Papper, Scissors">
	<main class="w-full min-h-screen p-2 md:p-8 flex flex-col justify-around items-center relative">
		<Main client:only />
		<RulesModal />
	</main>
</Layout>
