<button onclick="my_modal.showModal()" class="absolute bottom-10 md:right-10 btn btn-outline w-32 uppercase tracking-widest text-white">Rules</button>

<dialog id="my_modal" class="modal text-neutral-dark-text">
  <div class="modal-box bg-white">
    <form class="w-full flex items-center justify-between" method="dialog">
      <h3 class="font-extrabold text-xl text-slate-800 uppercase">Rules</h3>
      <button class="btn btn-sm btn-circle btn-ghost text-neutral-dark-text text-xl">X</button>
    </form>
  </div>
</dialog>